<h1>Listing folders</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @folders.each do |folder| %>
  <tr>
    <td><%= link_to 'Show', [@current_todouser,folder] %></td>
    <td><%= link_to 'Edit', edit_todouser_folder_path(@current_todouser,folder) %></td>
    <td><%= link_to 'Destroy', [@current_todouser,folder], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Folder', new_todouser_folder_path %>
