<h1>Tasks#index</h1>
<div>
  <% @tasks.each do |task| %>
    <div>
      <%= simple_format task.description+" "+task.duedate %>
      <%= link_to "Edit Task", [:edit, current_todouser, task] %>
      <%= link_to "Delete Task", [current_todouser, task], :confirm=>"Are you sure?", :method=>:delete %>
    </div>
  <% end %>
</div>
<p><%= link_to "New Task", [:new, @taskable, :task] %></p>
